<style>
    img.resize {
        width: 100px; /* you can use % */
        height: auto;
    }
</style>
<script type="text/javascript">
    function ChargerPreview1() {
        var imageTarget = document.getElementById("preview1");
        var input = document.getElementById("fichier1");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                imageTarget.src = event.target.result;
            }
        }
    }
    function ChargerPreview2() {
        var imageTarget = document.getElementById("preview2");
        var input = document.getElementById("fichier2");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                imageTarget.src = event.target.result;
            }
        }
    }
    function ChargerPreview3() {
        var imageTarget = document.getElementById("preview3");
        var input = document.getElementById("fichier3");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                imageTarget.src = event.target.result;
            }
        }
    }
</script>

<section id="login" style="padding-top: 0px">
    <h1 style="text-align:center; font-size:50px;">Mon cheval</h1>
</section>
<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

<section id="login" style="padding-top: 15px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    @using (Html.BeginForm("Gestion", "Gestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="col-xs-2 col-xs-12" style="margin-left: 10px">
                            @if (ViewBag.ErreurVide != "")
                            {
                                <label style="color: red; font-size: 15px;">@ViewBag.ErreurVide</label>
                            }
							   @if (ViewBag.ErreurVide != "")
                            {
                                <label style="color: red; font-size: 15px;">@ViewBag.ErreurVide</label>
                            }
                            @if (ViewBag.Reussi != "")
                            {
                                <label style="color: green; font-size: 15px;">@ViewBag.Reussi</label>
                            }

                            <div class="form-group">
                                @Html.TextBox("TB_Nom", null, new { maxlength = 20, @class = "form-control", @placeholder = "Nom du cheval" })
                            </div>
                            <div class="form-group">
                                @{String DescriptionDuCheval = ViewBag.DescriptionCheval;}
                                @Html.TextArea("TB_Description", DescriptionDuCheval, new { maxlength = 500, @class = "form-control", @placeholder = "Description", @Rows = "6" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("TB_Emplacement", null, new { maxlength = 20, @class = "form-control", @placeholder = "Emplacement du cheval" })
                            </div>
                            <div class="form-group">
                                @Html.TextBox("TB_Race", null, new { maxlength = 20, @class = "form-control", @placeholder = "Race du cheval" })
                            </div>
                            <section id="login" style="padding: 0px">
                                <h1 style="text-align:center; font-size:20px;">Discipline</h1>
                            </section>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <ul class="uldiscipline" style="margin-bottom: 0px;width: 340px; padding-left: 0px;">
                                        <li>
                                            @Html.RadioButton("rad1", "Saut d'obstacle")
                                            @Html.Label("Saut d'obstacle ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Dressage")
                                            @Html.Label("Dressage ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Gymkhana")
                                            @Html.Label("Gymkhana ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Reining")
                                            @Html.Label("Reining ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Plaissance")
                                            @Html.Label("Plaissance ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Voltige")
                                            @Html.Label("Voltige ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Polo")
                                            @Html.Label("Polo ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Attelage")
                                            @Html.Label("Attelage ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Course")
                                            @Html.Label("Course ")
                                        </li>
                                        <li>
                                            @Html.RadioButton("rad1", "Autre")
                                            @Html.Label("Autre ")
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <section id="login" style="padding: 0px">
                                <h1 style="text-align:center; font-size:20px;">Images <br /><span style="font-size:15px; color:gray;">Taille de 300px par 600px recommendée</span></h1>
                                <h6 style="text-align:center;"></h6>
                            </section>
                            <div class="form-group" style="margin-bottom: 0px;width: 380px; padding-left: 0px;">
                                <table>
                                    <tr>
                                        <td>
                                            @{
                                                string image1 = ViewBag.Image1;
                                            }
                                            <img id="preview1" src="..\\..\\Images\Cheval\@image1" alt="Apercu" style="width:100px; height:100px" />
                                            <div class="form-group">
                                                <input id="fichier1" type="file" accept=".jpg,.png,.gif" name="FileUpload1" onchange="ChargerPreview1()" class="" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                string image2 = ViewBag.Image2;
                                            }
                                            <img id="preview2" src="..\\..\\Images\Cheval\@image2" alt="Apercu" style="width:100px; height:100px" />
                                            <div class="form-group">
                                                <input id="fichier2" type="file" accept=".jpg,.png,.gif" name="FileUpload2" onchange="ChargerPreview2()" class="" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @{
                                                string image3 = ViewBag.Image3;
                                            }
                                            <img id="preview3" src="..\\..\\Images\Cheval\@image3" alt="Apercu" style="width:100px; height:100px" />
                                            <div class="form-group">
                                                <input id="fichier3" type="file" accept=".jpg,.png,.gif" name="FileUpload3" onchange="ChargerPreview3()" class="" />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                            @{
                                int id = 0;
                                string update = ViewBag.Update;
                                if(ViewBag.IdDuCheval != null)
                                {
                                    id = ViewBag.IdDuCheval;
                                }
                            }
                            @Html.TextBox("TB_Update", @update, new { maxlength = 20, @class = "form-control", @placeholder = "Race du cheval", type = "hidden" })
                            @Html.TextBox("TB_IDCheval", @id, new { maxlength = 20, @class = "form-control", @placeholder = "Race du cheval", type = "hidden" })
                            <input type="submit" id="btn_save" name ="btn_save" class="btn btn-custom btn-lg btn-block" value="Enregistrer">
                            <input type="submit" id="btn_delete" name ="btn_delete" class="btn btn-custom btn-lg btn-block" value="Supprimer">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />
