<style>
   img.resize {
      width: 100px; /* you can use % */
      height: auto;
   }
</style>

<section id="login" style="padding-top: 0px">
   <h1 style="text-align:center; font-size:50px;">Mon cheval</h1>
</section>
<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

<section id="login" style="padding-top: 15px">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="form-wrap">
               @using (Html.BeginForm("Gestion", "Gestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {                     
               <div class="col-xs-2 col-xs-12" style="margin-left: 10px">
                   @if (ViewBag.ErreurVide != "")
                   {
                       <label style="color: red; font-size: 15px;">@ViewBag.ErreurVide</label>
                   }
                   @if (ViewBag.NonReussi != "")
                   {
                       <label style="color: red; font-size: 15px;">@ViewBag.NonReussi</label>
                   }

                     <div class="form-group">                     
                         @Html.TextBox("TB_Nom", null, new { maxlength = 20, @class = "form-control", @placeholder = "Nom du cheval" })
                     </div>
                     <div class="form-group">                      
                         @Html.TextBox("TB_Description", null, new { maxlength = 200, @class = "form-control", @placeholder = "Description" })
                     </div>
                     <div class="form-group">                       
                         @Html.TextBox("TB_Emplacement", null, new { maxlength = 20, @class = "form-control", @placeholder = "Emplacement du cheval" })
                     </div>
                     <div class="form-group">
                        @Html.TextBox("TB_Race", null, new { maxlength = 20, @class = "form-control", @placeholder = "Race du cheval" })
                     </div>
                     <section id="login" style="padding: 0px">
                        <h1 style="text-align:center; font-size:20px;">Discipline</h1>
                     </section>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <ul class="uldiscipline" style="margin-bottom: 0px;width: 340px; padding-left: 0px;">
                              <li>
                                 @Html.Label("Saut d'obstacle ")
                                 @Html.RadioButton("rad1", "Saut d'obstacle")
                              </li>
                              <li>
                                 @Html.Label("Dressage ")
                                 @Html.RadioButton("rad1", "Dressage")
                              </li>                               
                              <li>
                                 @Html.Label("Gymkhana ")
                                 @Html.RadioButton("rad1", "Gymkhana")
                              </li>
                              <li>
                                 @Html.Label("Reining ")
                                 @Html.RadioButton("rad1", "Reining")
                              </li>
                              <li>
                                 @Html.Label("Plaissance ")
                                 @Html.RadioButton("rad1", "Plaissance")
                              </li>
                              <li>
                                 @Html.Label("Voltige ")
                                 @Html.RadioButton("rad1", "Voltige")
                              </li>
                              <li>
                                 @Html.Label("Polo ")
                                 @Html.RadioButton("rad1", "Polo")
                              </li>
                              <li>
                                 @Html.Label("Attelage ")
                                 @Html.RadioButton("rad1", "Attelage")
                              </li>
                           </ul>
                        </div>

                     </div>
                     <section id="login" style="padding: 0px">
                        <h1 style="text-align:center; font-size:20px;">Images</h1>
                     </section>
                     <div class="form-group" style="margin-bottom: 0px;width: 380px; padding-left: 0px;">
                        <table>
                           <tr>
                              <td>
                                 <input id="RB_Image1" type="radio" name="rdb" checked />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px;" />
                              </td>
                              <td>
                                 <input id="RB_Image2" type="radio" name="rdb" />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px; " />
                              </td>
                              <td>
                                 <input id="RB_Image3" type="radio" name="rdb" />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px; " />
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <input id="RB_Image4" type="radio" name="rdb" />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px; " />
                              </td>
                              <td>
                                 <input id="RB_Image5" type="radio" name="rdb" />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px; " />
                              </td>
                              <td>
                                 <input id="RB_Image6" type="radio" name="rdb" />
                                 <img src="..\\..\\Images\BasePicture.png" alt="+" style="height: 100px; width: 100px; " />

                              </td>
                           </tr>
                        </table>
                        @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                           <input type="file" name="FileUpload" />
                        }

                     </div>
                     <br />
                  
                     <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Enregistrer">
                     <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Annuler">                                   
               </div>
               }  
            </div>
         </div>
      </div>
   </div>
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />
