<style>
   img.resize {
      width: 100px; /* you can use % */
      height: auto;
   }
</style>
<script>
    function PreLoadImage(ElementPhoto) {
        var imageTarget = document.getElementById(ElementPhoto);
        var input = document.getElementById("FileUpload");
        if (imageTarget != null) {
            var fReader = new FileReader();
            fReader.readAsDataURL(input.files[0]);
            fReader.onloadend = function (event) {
                // the event.target.result contains the image data
                imageTarget.src = event.target.result;

            }
        }
        return true;
    }

</script>

<section id="login" style="padding-top: 0px">
   <h1 style="text-align:center; font-size:50px;">Mon cheval</h1>
</section>
<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

<section id="login" style="padding-top: 15px">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <div class="form-wrap">
               @using (Html.BeginForm("Gestion", "Gestion", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {                     
               <div class="col-xs-2 col-xs-12" style="margin-left: 10px">
                   @if (ViewBag.ErreurVide != "")
                   {
                       <label style="color: red; font-size: 15px;">@ViewBag.ErreurVide</label>
                   }
                   @if (ViewBag.NonReussi != "")
                   {
                       <label style="color: red; font-size: 15px;">@ViewBag.NonReussi</label>
                   }

                     <div class="form-group">                     
                         @Html.TextBox("TB_Nom", null, new { maxlength = 20, @class = "form-control", @placeholder = "Nom du cheval" })
                     </div>
                     <div class="form-group">                      
                         @Html.TextArea("TB_Description", null, new { maxlength = 200, @class = "form-control", @placeholder = "Description", @Rows="6" })
                     </div>
                     <div class="form-group">                       
                         @Html.TextBox("TB_Emplacement", null, new { maxlength = 20, @class = "form-control", @placeholder = "Emplacement du cheval" })
                     </div>
                     <div class="form-group">
                        @Html.TextBox("TB_Race", null, new { maxlength = 20, @class = "form-control", @placeholder = "Race du cheval" })
                     </div>
                     <section id="login" style="padding: 0px">
                        <h1 style="text-align:center; font-size:20px;">Discipline</h1>
                     </section>
                     <div class="form-group">
                        <div class="col-sm-12">
                           <ul class="uldiscipline" style="margin-bottom: 0px;width: 340px; padding-left: 0px;">
                              <li>
                                 @Html.RadioButton("rad1", "Saut d'obstacle")
                                 @Html.Label("Saut d'obstacle ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Dressage")
                                 @Html.Label("Dressage ")
                              </li>                               
                              <li>
                                 @Html.RadioButton("rad1", "Gymkhana")
                                 @Html.Label("Gymkhana ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Reining")
                                 @Html.Label("Reining ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Plaissance")
                                 @Html.Label("Plaissance ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Voltige")
                                 @Html.Label("Voltige ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Polo")
                                 @Html.Label("Polo ")
                              </li>
                              <li>
                                 @Html.RadioButton("rad1", "Attelage")
                                 @Html.Label("Attelage ")
                              </li>
                           </ul>
                        </div>

                     </div>
                     <section id="login" style="padding: 0px">
                        <h1 style="text-align:center; font-size:20px;">Images</h1>
                     </section>
                     <div class="form-group" style="margin-bottom: 0px;width: 380px; padding-left: 0px;">
                         @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                         {
                         <table>
                            <tr>
                               <td>
                                  <img src="..\\..\\Images\BasePicture.png" id="Image1" alt="+" style="height: 100px; width: 100px;" />
                               </td>
                               <td>
                                  <input type="file" name="FileUpload" onchange="PreLoadImage(Image1)" />
                               </td>
                            </tr>
                            <tr>
                               <td>
                                  <img src="..\\..\\Images\BasePicture.png" id="Image2" alt="+" style="height: 100px; width: 100px; " />
                               </td>
                               <td>
                                  <input type="file" name="FileUpload" onchange="PreLoadImage(Image2)" />
                               </td>
                            </tr>
                            <tr>
                               <td>
                                  <img src="..\\..\\Images\BasePicture.png" id="Image3" alt="+" style="height: 100px; width: 100px; " />
                               </td>
                               <td>
                                  <input type="file" name="FileUpload" onchange="PreLoadImage(Image3)" />
                               </td>
                            </tr>                      
                        </table>                        
                        }
                     </div>
                     <br />                  
                     <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Enregistrer">                                   
               </div>
               }  
            </div>
         </div>
      </div>
   </div>
</section>

<hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />
