@using (Html.BeginForm())
{
    <section id="login" style="padding-top: 0px">
        <h1 style="text-align:center; font-size:50px;">Inscription</h1>
    </section>

    <hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

    <section id="login" style="padding-top: 15px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-wrap">
                        <div class="col-xs-2 col-xs-12" style="margin-left: 10px">
                            <form role="form" action="javascript:;" method="post" id="login-form" autocomplete="off">
                                @if (ViewBag.Reussi != "")
                                {
                                    <label style="color:green; font-size:15px;">@ViewBag.Reussi</label>
                                }
                                @if (ViewBag.NonReussi != "")
                                {
                                    <label style="color: red; font-size: 15px;">@ViewBag.NonReussi</label>
                                }
                                @if (ViewBag.ErrorMDP != "")
                                {
                                    <label style="color: red; font-size: 15px;">@ViewBag.ErrorMDP</label>
                                }
                                @if (ViewBag.ErrorEmail != "")
                                {
                                    <label style="color: red; font-size: 15px;">@ViewBag.ErrorEmail</label>
                                }
                                @if (ViewBag.ErrorTBVide != "")
                                {
                                    <label style="color: red; font-size: 15px;">@ViewBag.ErrorTBVide</label>
                                }
                                @if (ViewBag.NomUtilise != "")
                                {
                                    <label style="color: red; font-size: 15px;">@ViewBag.NomUtilise</label>
                                }
                                <div class="form-group">
                                    @Html.TextBox("TB_Username", null, new { maxlength = 20, @class = "form-control", @placeholder = "Nom d'usager" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("TB_Fullname", null, new { maxlength = 50, @class = "form-control", @placeholder = "Nom complet" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("TB_Password", null, new { maxlength = 20, @class = "form-control", @placeholder = "Mot de passe", @Type = "password" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("TB_PasswordConfirm", null, new { maxlength = 20, @class = "form-control", @placeholder = "Confirmation du mot de passe", @Type = "password" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("TB_Email", null, new { maxlength = 75, @class = "form-control", @placeholder = "Adresse courriel", @Type = "email" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBox("TB_EmailConfirm", null, new { maxlength = 75, @class = "form-control", @placeholder = "Confirmation de l'adresse courriel", @Type = "email" })
                                </div>
                                <input type="submit" id="btn_login" class="btn btn-custom btn-lg btn-block" value="S'enregistrer">
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />
}