@using (Html.BeginForm())
{
   <div class="container body-content">
      <section id="login" style="padding-top: 0px">
         <h1 style="text-align:center; font-size:50px;">Accueil</h1>
      </section>

      <hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

      <div class="row">
         <div class="col-md-12">
            <p style="text-align:center;"> <i>Bienvenue sur Random Me A Horse où vous pourrez découvrir les chevaux des usagers ou même mettre les votres en naviguant aléatoirement entre les chevaux !</i> </p>
            <p style="text-align:justify">Certaines personnes m'ont dit qu'un cheval ne pouvait pas être plus important qu'un humain aux yeux d'un autre humain. Laissez-moi en douter. Avez-vous un seul ami qui n'ait jamais joué avec vos sentiments, qui vous a toujours écouté sans vous juger, qui a toujours su vous montrer son affection pile au moment où vous en aviez besoin, qui ne s'est jamais plaint de votre retard, de votre humeur, de vos pleurs? Avez-vous un seul ami qui vous a toujours tout pardonné, qui a affronté ses pires craintes juste pour vous faire plaisir? Je crois que vous n'aurez jamais plus fidèle ami qu'un cheval qui vous a donné sa confiance. Il ne vous mentira jamais, ne vous trahira jamais. Si vous êtes honnête et juste avec lui, il vous accueillera avec bonheur à n'importe quelle heure du jour. Un humain pourrait-il offrir tout ça? Un cheval, le cheval de votre vie, ne vous fera mal qu'une fois, le jour où il devra partir.</p>
         </div>
      </div>
      <hr style="height: 2px; border: none; margin: 10px; color: gray; background-color: gray;" />

      @if (!(bool)Session["UserValid"])
      {
      <form role="form" action="Index" method="post" id="login-form" autocomplete="off">

         <section id="login" style="padding-top: 15px">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12">
                     <div class="form-wrap">
                        <h1 style="text-align:center; font-size:30px;">Connexion</h1>
                        <div class="col-xs-2 col-xs-12" style="margin-left: 10px">

                           @if (ViewBag.ErrorConnexion != "")
                           {
                              <label style="color: red; font-size: 15px;">@ViewBag.ErrorConnexion</label>
                           }
                           @if (ViewBag.ErrorTBVide != "")
                           {
                              <label style="color: red; font-size: 15px;">@ViewBag.ErrorTBVide</label>
                           }
                           <div class="form-group">
                              @Html.TextBox("TB_Username", null, new { maxlength = 20, @class = "form-control", @placeholder = "Nom d'usager" })
                           </div>
                           <div class="form-group">
                              @Html.TextBox("TB_Password", null, new { maxlength = 20, @class = "form-control", @placeholder = "Mot de passe", @Type = "password" })
                           </div>
                           <input type="submit" name="btn_login" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Se connecter">
                        </div>
                        <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Mot de passe oublié ?</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>

         <div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" style="width:350px;">
               <div class="modal-content">
                  <div class="modal-header" style="text-align:center;">
                     <h4 class="modal-title">Retrouver son mot de passe</h4>
                  </div>
                  @if (ViewBag.NonReussi != "")
                  {
                     <label style="color: red; font-size: 15px;">@ViewBag.NonReussi</label>
                  }
                  @if (ViewBag.Reussi != "")
                  {
                     <label style="color:green; font-size:15px;">@ViewBag.Reussi</label>
                  }
                  @if (ViewBag.ErreurVide != "")
                  {
                     <label style="color: red; font-size: 15px;">@ViewBag.ErreurVide</label>
                  }
                  @if (ViewBag.ErreurUsername != "")
                  {
                     <label style="color: red; font-size: 15px;">@ViewBag.ErreurUsername</label>
                  }
                  <div class="modal-body">
                     @Html.TextBox("TB_UsernameRemind", null, new { @class = "form-control", @placeholder = "Nom d'usager", @Type = "text" })
                  </div>
                  <div class="modal-footer" style="text-align:center;">
                     <input type="button" data-dismiss="modal" id="btn-cancel" class="btn btn-default" value="Annuler">
                     <input type="submit" name="btn_send" id="btn-send" class="btn btn-default" value="Envoyer">
                  </div>
               </div>
            </div>
         </div>
         <hr style="height: 2px; border: none; color: gray; background-color: gray;" />
      </form>
      }
   </div>
}
